* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, taxtarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham Pro Regular"), local("Gotham-Pro-Regular"), url("../../fonts/GothamPro.woff2") format("woff2"), url("../../fonts/GothamPro.woff") format("woff"), url("../../fonts/GothamPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham Pro Medium"), local("Gotham-Pro-Medium"), url("../../fonts/GothamPro-Medium.woff2") format("woff2"), url("../../fonts/GothamPro-Medium.woff") format("woff"), url("../../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Benzin";
  src: local("Benzin Bold"), local("Benzin-Bold"), url("../../fonts/Benzin-Bold.woff2") format("woff2"), url("../../fonts/Benzin-Bold.woff") format("woff"), url("../../fonts/Benzin-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham Pro Regular"), local("Gotham-Pro-Regular"), url("../../fonts/GothamPro.woff2") format("woff2"), url("../../fonts/GothamPro.woff") format("woff"), url("../../fonts/GothamPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham Pro Medium"), local("Gotham-Pro-Medium"), url("../../fonts/GothamPro-Medium.woff2") format("woff2"), url("../../fonts/GothamPro-Medium.woff") format("woff"), url("../../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Benzin";
  src: local("Benzin Bold"), local("Benzin-Bold"), url("../../fonts/Benzin-Bold.woff2") format("woff2"), url("../../fonts/Benzin-Bold.woff") format("woff"), url("../../fonts/Benzin-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
[class*=__container-big] {
  width: 100%;
  max-width: 1230px;
  padding: 0 10px;
  margin: 0 auto;
}

[class*=__container] {
  width: 100%;
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  background-color: #1A1A1A;
  color: #fff;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body {
  font-family: Gotham;
  font-size: 18px;
  font-weight: 400;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}

.button {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
  padding: 6px 32px;
  border-radius: 30px;
  background-color: transparent;
  font-family: Benzin;
  font-size: 16px;
  line-height: 119%;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
  overflow: hidden;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}
.button_purple {
  color: #fff;
  background-color: #5728CC;
}
.button_purple:hover {
  background-color: #4a23ae;
}
.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 9999;
}
@media (max-width: 767.98px) {
  .header {
    height: 70px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
  padding-bottom: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media (max-width: 1200px) {
  .header__container {
    padding-top: calc(14px + 3 * (100vw - 767.98px) / 432.02);
    padding-bottom: calc(14px + 3 * (100vw - 767.98px) / 432.02);
  }
}
.header__burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.logo {
  z-index: 99;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 177px;
}
@media (max-width: 1200px) {
  .logo {
    max-width: calc(117px + 60 * (100vw - 767.98px) / 432.02);
  }
}
@media (max-width: 767.98px) {
  .logo {
    max-width: 117px;
  }
}
.logo img {
  width: 100%;
}

@media (max-width: 767.98px) {
  .burger-menu {
    z-index: -999;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    padding: 0px 10px 60px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.6980392157);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-transition: -webkit-transform ease 0.2s;
    transition: -webkit-transform ease 0.2s;
    transition: transform ease 0.2s;
    transition: transform ease 0.2s, -webkit-transform ease 0.2s;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.burger-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .burger-menu__list {
    gap: calc(30px + 10 * (100vw - 767.98px) / 432.02);
  }
}
@media (max-width: 991.98px) {
  .burger-menu__list {
    margin-right: 0;
  }
}
@media (max-width: 767.98px) {
  .burger-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0;
    gap: 36px;
    -webkit-transition: -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s;
    transition: -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s;
    transition: transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s;
    transition: transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s, -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}
@media (max-width: 480px) {
  .burger-menu__list {
    -webkit-transition: -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.2) 0.35s;
    transition: -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.2) 0.35s;
    transition: transform cubic-bezier(0.68, -0.6, 0.32, 1.2) 0.35s;
    transition: transform cubic-bezier(0.68, -0.6, 0.32, 1.2) 0.35s, -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.2) 0.35s;
  }
}
@media (max-width: 991.98px) {
  .burger-menu__button {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .burger-menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s;
    transition: -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s;
    transition: transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s;
    transition: transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s, -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}
@media (max-width: 480px) {
  .burger-menu__button {
    width: 100%;
    -webkit-transition: -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.2) 0.35s;
    transition: -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.2) 0.35s;
    transition: transform cubic-bezier(0.68, -0.6, 0.32, 1.2) 0.35s;
    transition: transform cubic-bezier(0.68, -0.6, 0.32, 1.2) 0.35s, -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.2) 0.35s;
  }
}

.burger-menu._opened {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  overflow-x: hidden;
}
.burger-menu._opened .burger-menu__list {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
.burger-menu._opened .burger-menu__button {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.header-list__el:hover a {
  opacity: 1;
}
.header-list__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}
@media (max-width: 1200px) {
  .header-list__link {
    font-size: calc(16px + 2 * (100vw - 767.98px) / 432.02);
  }
}
@media (max-width: 767.98px) {
  .header-list__link {
    font-size: 22px;
  }
}

.burger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 26px;
  height: 19px;
}
@media (min-width: 767.98px) {
  .burger-btn {
    display: none;
  }
}
.burger-btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2px;
          flex: 0 0 2px;
  background-color: #fff;
  -webkit-transition: width cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.3s, -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.3s;
  transition: width cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.3s, -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.3s;
  transition: transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.3s, width cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.3s;
  transition: transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.3s, width cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.3s, -webkit-transform cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.3s;
}

.burger-btn.active span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4.3px, 1.3px);
          transform: rotate(45deg) translate(4.3px, 1.3px);
  width: 50%;
}
.burger-btn.active span:nth-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, 0px);
          transform: rotate(-45deg) translate(1px, 0px);
  width: 95%;
}
.burger-btn.active span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(3.7px, -10.6px);
          transform: rotate(45deg) translate(3.7px, -10.6px);
  width: 50%;
}

.footer {
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: #272727;
}
@media (max-width: 567.98px) {
  .footer {
    background-color: transparent;
    border-top: 0;
    padding-bottom: 0;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 44px;
}
@media (max-width: 1200px) {
  .footer__container {
    gap: calc(24px + 20 * (100vw - 991.98px) / 208.02);
  }
}
@media (max-width: 991.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
@media (max-width: 567.98px) {
  .footer__container {
    padding: 0;
    gap: 35px;
  }
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991.98px) {
  .copyright {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5px;
  }
}
@media (max-width: 767.98px) {
  .copyright {
    font-size: calc(14px + 2 * (100vw - 320px) / 447.98);
  }
}
@media (max-width: 567.98px) {
  .copyright {
    padding: 0 10px;
  }
}
@media (max-width: 480px) {
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 44px;
}
@media (max-width: 1200px) {
  .footer-nav {
    gap: calc(24px + 20 * (100vw - 991.98px) / 208.02);
  }
}
@media (max-width: 991.98px) {
  .footer-nav {
    gap: 44px;
  }
}
@media (max-width: 767.98px) {
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 28px;
  }
}
@media (max-width: 567.98px) {
  .footer-nav {
    background-color: #272727;
    border-top: 1px solid rgba(255, 255, 255, 0.3019607843);
    width: 100%;
    padding: 34px 10px;
  }
}
.footer-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (max-width: 567.98px) {
  .footer-nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-nav__menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
  opacity: 0.5;
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}
.footer-nav__menu-link:hover {
  opacity: 1;
}
.footer-nav__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
}
.footer-nav__contact-icon {
  display: block;
  width: 36px;
  height: 36px;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}
.footer-nav__contact-icon:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.footer-nav__contact-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}